@page
@model ServiceHost.Areas.Administration.Pages.PortFolio.About.IndexModel
@{
}

@{
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "About Management";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["title"]</h4>
        <p class="pull-left">
            <a class="btn btn-success btn-lg" href="#showmodal=@Url.Page("./Index" , "Create")">Create New About</a>
        </p>
    </div>
</div>

<div class="row" id="ProductCategoriesDiv">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">About List</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Picture</th>
                                    <th>Text</th>
                                    <th>Description</th>
                                    <th>ProjectsCompleted</th>
                                    <th>HappyClients</th>
                                    <th>YearsExperience</th>
                                    <th>Creation Date</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.Abouts.Id</td>
                                    <td>
                                        <img src="~/ProjectPicture/@Model.Abouts.Picture" style="width: 70px; height: 70px" />
                                    </td>
                                    <td>@Model.Abouts.Text</td>
                                    <td>@Model.Abouts.Description</td>
                                    <td>@Model.Abouts.ProjectsCompleted</td>
                                    <td>@Model.Abouts.HappyClients</td>
                                    <td>@Model.Abouts.YearsExperience</td>
                                    <td>@Model.Abouts.CreationDate</td>
                                    <td>
                                        <a class="btn btn-warning waves-effect waves-light m-b-5"
                                           href="#showmodal=@Url.Page("./Index", "Edit", new { id = Model.Abouts.Id})">
                                            <i class="fa fa-edit"></i> Edit
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/adminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminTheme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
    </script>
}